.classes {
  @include mappy-bp(small) {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 5rem;
  }
  @include mappy-bp(large) {
    margin-left: 9rem;
    padding-top: 7rem;
  }

  .classes-wrapper {
    display: grid;
    grid-gap: 1rem;

    @include mappy-bp(small) {
      grid-template-columns: repeat(2, 10.25rem);
      margin-top: 1rem;
    }
  }
}

.pop-up--skills {
  //display: flex;
  background: $shadow-color;
  height: auto;
  width: 100%;
  position: absolute;
  opacity: 1;
  transition: all 0.5s ease;
  bottom: 0;
  transition: all 0.6s ease;
  z-index: 1;

  .pop-up--skills-exit {
    margin: 0;
    position: relative;
    text-align: right;
    float: right;
    background: red;
  }
}
