.classes {
  padding: 0.5rem;
  .classes-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    @include mappy-bp(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.pop-up--skills {
  //display: flex;
  border-top: 0.313rem solid var(--colorCategory);
  background: $shadow-color;
  height: auto;
  width: 100%;
  position: fixed;
  opacity: 1;
  bottom: 0;
  z-index: 1;

  .pop-up--skills-exit {
    position: relative;
    float: right;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .pop-up--skills-text {
    padding-top: 5rem;
  }
}
