.edit-profile {
  margin-top: 2rem;

  &-header {
    display: flex;
    color: $dark-color;
    align-items: center;
    margin-left: 1rem;
  }

  &-title {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.edit-profile-avatar {
  &-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 2rem;
    @include mappy-bp(small) {
      width: 10rem;
      height: 10rem;
    }
  }

  &-form-input {
    display: block;
  }
}
