.card-category {
  background: #f5f4f9;
  width: 100%;
  padding: 2rem 0.5rem;
  color: $dark-color;
  text-align: left;
  margin-right: 1rem;
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 1rem;
  border-right: 1.25rem solid var(--colorCategory);
}
