// scss
@import "../../../node_modules/mappy-breakpoints/mappy-breakpoints.scss";

$breakpoints: (
  "small": 320px,
  "large": 960px,
);

$primary-color: #6600cc;
$dark-color: #252636;
$white-color: #ffffff;
$gray-color: #aaaaaa;

.hero-img {
  background-image: linear-gradient(
      rgba(37, 38, 54, 0.2),
      rgba(37, 38, 54, 0.2)
    ),
    url("./../images/banner.svg");
  height: 45rem;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .hero-title {
    color: $white-color;
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 5rem;
    display: table-caption;
    margin-left: 1rem;
    margin-top: 19rem;
  }
}

.home-title {
  color: $dark-color;
  font-weight: 600;
  font-size: 2rem;
}

.new-classes {
  margin-left: 9rem;
  padding-top: 7rem;
}
.filter-wrapper {
  width: 100%;
  display: flex;
  overflow-x: auto;
  margin: 0.75rem 0;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.new-classes-wrapper {
  width: 100%;
  display: flex;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.categories {
  margin-left: 9rem;
  padding-top: 7rem;

  .categories-wrapper {
    display: grid;
    grid-gap: 1rem;
  }
}

.popular {
  margin-left: 9rem;
  padding-top: 7rem;
}

@include mappy-bp(small large) {
  .home-title {
    font-size: 1.313rem;
  }
  .hero-img {
    height: 34.375rem;
  }

  .new-classes {
    margin-left: 1rem;
    padding-top: 5rem;
  }

  .categories {
    margin-left: 1rem;
    padding-top: 5rem;

    .categories-wrapper {
      grid-template-columns: repeat(2, 10.25rem);
      margin-top: 1rem;
    }
  }

  .popular {
    margin-left: 0;
    padding-top: 5rem;

    .home-title {
      margin-left: 1rem;
    }

    .popular-wrapper {
      margin-left: 1rem;
    }
  }
}
