.scene-1-login {
  position: absolute;
  display: flex;
  top: 8rem;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: -1;
}

.login-content {
  padding: 1.5rem;
  position: absolute;
  display: block;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 23rem;
  width: 100%;
  text-align: center;

  .login-title {
    font-weight: 600;
    font-size: 1.313rem;
    display: flex;
    text-align: center;
    color: #252636;
    justify-content: center;
  }

  form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 3.125rem;
    height: auto;
    overflow: hidden;

    input {
      float: left;
      clear: both;
      margin: 0.313rem 0;
      padding: 0.625rem 10.625rem 0.625rem 1.25rem;
      outline: none;
      border: 1px solid #252636;
      border-radius: 0.313rem;
    }

    ::placeholder {
      font-size: 0.75rem;
      color: #aaaaaa;
    }

    .login-btn {
      background-color: #6600cc;
      color: #ffffff;
      margin-top: 15%;
      padding: 0.625rem 8.563rem;
      font-weight: 600;
      font-size: 1rem;
      border: 0;
      cursor: pointer;
    }
  }

  .to-signup {
    color: #252636;
    margin-top: 23.75rem;
    font-family: Avenir Next;
    font-weight: 600;
    font-size: 0.75rem;
    cursor: pointer;

    .to-signup a {
      text-decoration: none;
    }
  }
}
